.App {
  text-align: center;
  width: 350px;
  height: 566px;
  border: 2px solid black;
  font-family: Garamond, serif;
}

.theme-dark {
  background-color: #00004b;
  color: white;
}

.theme-light {
  background-color: #f0f8ff;
  color: black;
}
